{{ block content }}

<style>
    .form-check-inline {
        display: inline-flex;
        margin-right: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .form-check-inline input {
        margin-left: 0 !important;
    }
    label {
        white-space: break-spaces;
    }
</style>

<div class="text-center">
    <h3><span id="turn"></span> <span id="other-result"></span></h3>
</div>

<div id="wait" style="display: none" class="mb-5">
    <p class="text-center">
        Waiting for the other participant to decide...
    </p>
    <progress style="width: 100%"></progress>
</div>

<div id="decide" style="display: none">
    <h3 class="text-center">Please choose:</h3>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mx-3" type="button" onclick="choose(true)">
            A
        </button>
        <button class="btn btn-primary mx-3" type="button" onclick="choose(false)">
            B
        </button>
    </div>
</div>

<div id="decide_second" style="display: none">
    <h3 class="text-center">Please choose:</h3>
    <table class="table">
        <tr>
            <td>If the first mover chose A, would you choose A or B</td>
            <td>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="first_A" required="" value="A">
                    <label for="id_risk-1" class="form-check-label">A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="first_A" required="" value="B">
                    <label for="id_risk-1" class="form-check-label">B</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>If the first mover chose B, would you choose A or B</td>
            <td>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="first_B" required="" value="A">
                    <label for="id_risk-1" class="form-check-label">A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="first_B" required="" value="B">
                    <label for="id_risk-1" class="form-check-label">B</label>
                </div>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary mt-3" onclick="chooseSecond()">Next</button>
</div>

<div id="question" style="display: none">
    <h3 class="text-center">Please choose: </h3>
    <table class="table">
        {% for field in form %}
        {% if field.type == 'RadioFieldHorizontal' %}
        <tr>
            <td colspan="2">
                {{ field.label }}<br>
                <b style="margin-right: 1rem;"></b>
                {{ field }}
                <b>chose A</b>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>{{ field.label }}</td>
            <td align="right">{{ field }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary mt-3" onclick="answer_first()">Next</button>
    </div>
</div>

<div class="mt-5">
     <!-- chat  -->
</div>

<div id="instruction_common" style="display: none;">
    {{ include C.INSTRUCTIONS_TEMPLATE }}
</div>
<div id="instruction_first" style="display: none;">
    {{ include C.INSTRUCTIONS_FIRST_TEMPLATE }}
</div>
<div id="instruction_second" style="display: none;">
    {{ include C.INSTRUCTIONS_SECOND_TEMPLATE }}
</div>

<script>
    let waitDiv = document.getElementById('wait');
    let decideDiv = document.getElementById('decide');
    let decideSecondDiv = document.getElementById('decide_second');
    let resultDiv = document.getElementById('other-result');
    let turnDiv = document.getElementById('turn');
    let questionDiv = document.getElementById('question');
    let instDiv = document.getElementById('instruction_common');
    let instFirstDiv = document.getElementById('instruction_first');
    let instSecondDiv = document.getElementById('instruction_second');

    let my_choice;

    const firstOrsecond = (js_vars.my_id == js_vars.first_player) ? 'first' : 'second';
    if (!js_vars.mode) {
        turnDiv.innerHTML = `You will make the ${firstOrsecond} choice.`;
    } else {
        if (js_vars.my_id == 1) turnDiv.innerHTML = `You decided to choose ${firstOrsecond}.`;
        if (js_vars.my_id == 2 && js_vars.mode == 2) turnDiv.innerHTML = `The other participant decided that you choose ${firstOrsecond}.`;
        if (js_vars.my_id == 2 && js_vars.mode == 1) turnDiv.innerHTML = `You will make the ${firstOrsecond} choice.`;
    }

    function choose(choice) {
        my_choice = choice;
        if (js_vars.my_id == js_vars.first_player) {
            show(questionDiv);
        }
        liveSend({ type: 'choice', choice });
    }
    function chooseSecond() {
        aa = (document.querySelector('input[name="first_A"]:checked') || '').value;
        bb = (document.querySelector('input[name="first_B"]:checked') || '').value;
        if (!aa || !bb) return;
        A_choice = (aa == 'A') ? true : false;
        B_choice = (bb == 'A') ? true : false;
        liveSend({ type: 'choice', A_choice, B_choice });
    }

    function checkRadioValue(name) {
        var ele = document.getElementsByName(name);
            
        for(i = 0; i < ele.length; i++) {
            if(ele[i].checked)
                return true;
        }
        return false;
    }
    function answer_first() {
        for (let i = 0; i < js_vars.fields.length; i ++)
            if (!checkRadioValue(js_vars.fields[i]))
                return;
        liveSend({ type: 'answer' });
    }

    function show(ele) {
        for (let div of [waitDiv, decideDiv, decideSecondDiv, questionDiv]) {
            div.style.display = (div === ele) ? 'block' : 'none';
        }
        // turnDiv.style.display = (decideDiv === ele) ? 'block' : 'none';
        // resultDiv.style.display = (decideDiv === ele) ? 'block' : 'none';
        turnDiv.style.display = 'block';
    }

    function showInstruction(ele) {
        for (let div of [instDiv, instFirstDiv, instSecondDiv]) {
            div.style.display = (div === ele) ? 'block' : 'none';
        }
    }
    if(firstOrsecond === 'first') showInstruction(instFirstDiv);
    else showInstruction(instSecondDiv);

    function liveRecv(data) {
        console.log('liveRecv', JSON.stringify(data));
        let type = data.type;
        switch (type) {
        case 'status':
            if (data.finished && data.other_finished) {
                document.getElementById('form').submit();
                return;
            }
            if (data.finished && !data.other_finished) {
                show(waitDiv)
            } else {
                if (firstOrsecond === 'first') {
                    if (!data.result) show(decideDiv)
                    else show(questionDiv)
                } else {
                    show(decideSecondDiv)
                }
            }
            break;
        }
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        liveSend({'type': 'init'});
    });
</script>

{{ endblock }}