{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}

<div class="instructions" style="background-color: rgb(247,247,247)">
    In this questionnaire, we ask you to evaluate a few statements and answer a few questions.<br>
    You are free to respond anyway you would like.<br>
    However, please do not overthink statements and questions, and try to respond what naturally comes to your mind.<br>
    We also ask you to respond truthfully and to the best of your ability.<br>
</div>

<div class="mt-2">
    {% next_button %}
</div>

{% endblock %}