{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
     Questionnaire
{% endblock %}

{% block content %}

    <table class="table">
    {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td>
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    {% next_button %}

    <div class="progress" style="height: 30px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress|json}}%; text-align:center">
    <span style="font-size:12pt;">{{ progress }}%</span>
    </div>
    </div>

{% endblock %}